footer {
    position: fixed;
    background: #00FF00;
    bottom: 0;
    height: 60px;
    width: 100%;
    vertical-align: middle;
    text-align: center; 
    align-items: center;
    padding-top: 50;
    padding-bottom: 50;
}
